## Creating a Tuple

In [3]:
my_tuple = ('apple', 'banana', 'cherry')
my_tuple

('apple', 'banana', 'cherry')

In [5]:
print(type(my_tuple))

<class 'tuple'>

### Tuples with one element need a comma

In [9]:
# Wrong:
single_element = ('apple')
print(single_element)
print(type(single_element))

apple
<class 'str'>

In [10]:
# Correct:
single_element = ('apple',)
print(single_element)
print(type(single_element))

('apple',)
<class 'tuple'>

### Empty tuples

In [11]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

## Tuples are Records

#### Can have mixed data

In [13]:
record = ('John', 25, 'New York')
record

('John', 25, 'New York')

#### Are immutable

In [14]:
record[0] = 'Johnny'

TypeError: 'tuple' object does not support item assignment

#### Can be unpacked (deconstructed)

In [16]:
name, age, city = record
print(name)
print(age)
print(city)

John
25
New York

#### Support 'Packing'

In [18]:
record = 'Johnny', 30, 'Chicago'
print(record)
print(type(record))

('Johnny', 30, 'Chicago')
<class 'tuple'>

## Like Lists...