## Creating a Tuple

In [1]:
my_tuple = ('apple', 'banana', 'cherry')
my_tuple

('apple', 'banana', 'cherry')

In [2]:
print(type(my_tuple))

<class 'tuple'>

### Tuples with one element need a comma

In [3]:
# Wrong:
single_element = ('apple')
print(single_element)
print(type(single_element))

apple
<class 'str'>

In [4]:
# Correct:
single_element = ('apple',)
print(single_element)
print(type(single_element))

('apple',)
<class 'tuple'>

### Empty tuples

In [5]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

## Tuples are Records

#### Can have mixed data

In [6]:
record = ('John', 25, 'New York')
record

('John', 25, 'New York')

#### Are immutable

In [7]:
record[0] = 'Johnny'

TypeError: 'tuple' object does not support item assignment

#### Can be unpacked (deconstructed)

In [8]:
name, age, city = record
print(name)
print(age)
print(city)

John
25
New York

In [9]:
(name, *other_data) = record
print(name)
print(other_data)

John
[25, 'New York']

#### Support 'Packing'

In [10]:
record = 'Johnny', 30, 'Chicago'
print(record)
print(type(record))

('Johnny', 30, 'Chicago')
<class 'tuple'>

## Share access functionalities with Lists

In [11]:
print(record[0])
print('Johnny' in record)
print(len(record))
print(record.index(30))

Johnny
True
3
1

## Force tuples to be mutable

In [12]:
product_info = ('mango', 1.4, [15, 20])
product_info

('mango', 1.4, [15, 20])

In [13]:
# Convert tuple into a list
product_info = list(product_info)
product_info

['mango', 1.4, [15, 20]]

In [14]:
# Modify values
product_info[1] = 1.8
product_info

['mango', 1.8, [15, 20]]

In [15]:
# Convert the list into a tuple
product_info = tuple(product_info)
product_info

('mango', 1.8, [15, 20])

In [16]:
# Alter mutable item
product_info[2][1] = 10
product_info

('mango', 1.8, [15, 10])